.boxone{
border-style:solid;
height:70px;
width:900px;
background-color:#E82C0C;
display:flex;
justify-content:center;
    font-family: 'Cormorant Infant', serif;
}

.boxtwo{
border-style:solid;
height:40px;
width:900px;
background-color:white;
border-color:black;
display:flex;
 font-family: 'Cormorant Infant', serif; 
}
#bar{
display:flex;
border-style:solid;
height:40px;
width:300px;
align-items: center;
justify-content: center;}

.boxthree{
border-style:solid;
height:300px;
width:900px;
display:flex;
background-color:#FF530D;
flex-wrap:wrap;
align-items:stretch;
justify-content:center;
background-image:url("../image/chinese-art-1873931_640.jpg");
background-size:cover;}

.boxfour{
border-style:solid;
height:200px;
width:900px;
background-color:black;
  font-family: 'Cormorant Infant', serif;
}

.boxfive{
border-style:solid;
height:350px;
width:900px;
background-color:#E82C0C;
display:flex;
    font-family: 'Cormorant Infant', serif;
}
/*margin:auto;*/
.boxsix{
border-style:solid;
height:500px;
width:900px;
margin-top: 33px;
margin-bottom: 33px;
background-color: #FF530D;
display:flex;
font-family:'Cormorant Infant', serif;
}
/*I am not sure I like this tea set due to its background color*/
.boxseven{
border-style:solid;
height:400px;
width:900px;
margin-bottom: 33px;
background-color: #FF530D;
display:flex;
font-family:'Cormorant Infant', serif; 

}
/*I wish I can make the image bigger without throwing everything off*/
.boxeight{
border-style:solid;
height:600px;
width:900px;
margin-top: 200px;
margin-bottom: 200px;
background-color: #E82C0C;
font-family:'Cormorant Infant', serif;
display:flex;
}
/*I am not sure of the background color for the text*/
.boxnine{
border-style:solid;
height:600px;
width:900px;
margin-top: 200px;
margin-bottom:200px;
background-color:FF0000;
display:flex;
font-family: 'Cormorant Infant', serif;
}

/*The appearance of this website looks a bit off*/

















