.boxone{
border-style:solid;
height:70px;
width:900px;
background-color:#E82C0C;
display:flex;
justify-content:center;}

.boxtwo{
border-style:solid;
height:40px;
width:900px;
background-color:white;
border-color:black;
display:flex;}
#bar{
display:flex;
border-style:solid;
height:40px;
width:225px;
align-items: center;
justify-content: center;}

.boxthree{
border-style:solid;
height:300px;
width:900px;
display:flex;
background-color:#FF530D;
flex-wrap:wrap;
align-items:stretch;
justify-content:center;
background-image:url("../image/chinese-art-1873931_640.jpg");
background-size:cover;}

.boxfour{
border-style:solid;
height:200px;
width:900px;
background-color:black;}

.boxfive{
border-style:solid;
height:300px;
width:900px;
background-color:#E82C0C;
display:flex;}

.boxsix{
border-style:solid;
height:500px;
width:900px;
background-color:#FF530D;
display:flex;}

.boxseven{
border-style:solid;
height:300px;
width:900px;
background-color:#E80C7A;
display:flex;}

.boxeight{
border-style:solid;
height:300px;
width:900px;
background-color:#FF0DFF;
display:flex;}

.boxnine{
border-style:solid;
height:600px;
width:900px;
background-color:#E82C0C;
display:flex;}

.boxten{
border-style:solid;
height:1500px;
width:900px;
background-color:#FF530D;
display:flex;}












